<div class="container">
  <app-header>
    <div class="flex flex-row items-center">
      <mat-icon class="arrow-back ml-3 mt-1" (click)="navigateBack()">chevron_left</mat-icon>
      <h1 class="text-center pt-4 flex-1 pr-14 text-xl font-bold  pl-6">{{title}} your Affirmation</h1>
    </div>
  </app-header>
  <main class="p-6">
    <form [formGroup]="form" (input)="hasChanges()">
      <mat-form-field class="w-full text-lg">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="w-full text-lg">
        <mat-label>Affirmation</mat-label>
        <textarea style="resize: none" rows="10" matInput formControlName="text"></textarea>
      </mat-form-field>
    </form>

    <button *ngIf="!edit && changed" (click)="createAffirmation()" mat-fab class="fixed bottom-0 right-0 m-6">
      <mat-icon>check</mat-icon>
    </button>

    <button *ngIf="edit && changed" (click)="updateAffirmation()" mat-fab class="fixed bottom-0 right-0 m-6">
      <mat-icon>check</mat-icon>
    </button>

  </main>
</div>
