<div class="container" *ngIf=" affirmation$ | async as affirmation">

  <header class="flex flex-row">
    <mat-icon class="arrow-back ml-3 mt-3" (click)="router.navigate(['..'])">arrow_back</mat-icon>
    <h1 class="text-center pt-4 flex-1 pr-12">{{ affirmation.title }}</h1>
  </header>
  <hr>
  <ng-container *ngIf="!showDaySelect">
    <main class="p-6">
      <form [formGroup]="form">
        <div class="mb-6">
          <mat-radio-group formControlName="type" aria-label="Select an option" class="text-lg" (change)="switchType()">
            <mat-radio-button value="daily" class="mr-4" [checked]="selectedType === types.DAILY">Daily</mat-radio-button>
            <mat-radio-button value="hourly" [checked]="selectedType === types.HOURLY">Hourly</mat-radio-button>
          </mat-radio-group>
        </div>

        <ng-container *ngIf="selectedType === types.DAILY">
          <button type="button" (click)="showDaySelect=true" mat-raised-button color="accent" class="text-xl mb-4">
            Select Days
          </button>
          <p *ngIf="selectedWeekDaysAsString()" class="mb-4 text-lg">{{selectedWeekDaysAsString()}}</p>
          <p *ngIf="!selectedWeekDaysAsString()" class="mb-4 text-lg">No week days selected</p>

          <mat-form-field class="text-xl">
            <input formControlName="time" matInput [ngxTimepicker]="defaultTime" [format]="24"
                   placeholder="Daily reminder time">
            <ngx-material-timepicker #defaultTime></ngx-material-timepicker>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="selectedType === types.HOURLY">
          <mat-form-field class="text-xl">
            <input formControlName="time" matInput [ngxTimepicker]="hourlyTime" [format]="24"
                   placeholder="Start time">
            <ngx-material-timepicker #hourlyTime></ngx-material-timepicker>
          </mat-form-field>

          <mat-form-field class="text-xl">
            <input formControlName="hourlyInterval" matInput type="number" placeholder="Hourly interval" min="1" max="23">
          </mat-form-field>
        </ng-container>
      </form>

      <button (click)="createSchedule()" mat-fab class="fixed bottom-0 right-0 m-6">
        <mat-icon>check</mat-icon>
      </button>
    </main>
  </ng-container>

  <ng-container *ngIf="showDaySelect">
    <mat-selection-list #daySelect>
      <mat-list-option
        *ngFor="let weekday of ['Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
        [value]="weekday" [selected]="isSelected(weekday)">
        {{weekday}}
      </mat-list-option>
    </mat-selection-list>

    <button (click)="selectWeekDays(daySelect.selectedOptions.selected)" mat-fab class="fixed bottom-0 right-0 m-6">
      <mat-icon>check</mat-icon>
    </button>
  </ng-container>
</div>
