<div class="container" *ngIf=" affirmation$ | async as affirmation">
  <app-header>
    <div class="flex flex-row items-center">
      <mat-icon class="arrow-back ml-3 mt-1" (click)="navigateBack()">chevron_left</mat-icon>
      <h1 class="text-center pt-4 flex-1 pr-14 text-xl font-bold pl-6">{{ affirmation.title }}</h1>
    </div>
  </app-header>
  <ng-container *ngIf="!showDaySelect">
    <main class="p-6">
      <form [formGroup]="form" (input)="hasChanges()">
        <div class="mb-6">
          <mat-radio-group formControlName="type" aria-label="Select an option" class="text-lg" (change)="switchType()">
            <mat-radio-button [value]="0" class="mr-4" [checked]="selectedType === 0">Daily</mat-radio-button>
            <mat-radio-button [value]="1" [checked]="selectedType === 1">Hourly</mat-radio-button>
          </mat-radio-group>
        </div>

        <ng-container *ngIf="selectedType === types.DAILY">
          <button type="button" (click)="showDaySelect=true" mat-raised-button color="accent" class="text-xl mb-4">
            Select days
          </button>
          <p *ngIf="selectedWeekDaysAsString()" class="mb-6 text-lg">{{selectedWeekDaysAsString()}}</p>
          <p *ngIf="scheduleDays.length === 0" class="mb-6 text-lg">No week days selected</p>

          <mat-form-field class="text-xl">
            <input formControlName="time" matInput [ngxTimepicker]="defaultTime" [format]="24"
                   placeholder="Daily reminder time" (blur)="hasChanges()">
            <ngx-material-timepicker #defaultTime (closed)="hasChanges()"></ngx-material-timepicker>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="selectedType === types.HOURLY">
          <mat-form-field class="text-xl">
            <input formControlName="time" matInput [ngxTimepicker]="hourlyTime" [format]="24"
                   placeholder="Start time" (blur)="hasChanges()">
            <ngx-material-timepicker #hourlyTime (closed)="hasChanges()"></ngx-material-timepicker>
          </mat-form-field>

          <mat-form-field class="text-xl">
            <input formControlName="hourlyInterval" matInput type="number" placeholder="Hourly interval" min="1" max="23">
          </mat-form-field>
        </ng-container>
      </form>

<!--      <button *ngIf="!schedule" (click)="createSchedule()" mat-fab class="fixed bottom-0 right-0 m-6">-->
<!--        <mat-icon>check</mat-icon>-->
<!--      </button>-->

      <button *ngIf="changed" (click)="createSchedule()" mat-fab class="fixed bottom-0 right-0 m-6">
        <mat-icon>check</mat-icon>
      </button>
    </main>
  </ng-container>

  <ng-container *ngIf="showDaySelect">
    <mat-selection-list #daySelect>
      <mat-list-option
        *ngFor="let weekday of ['Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
        [value]="weekday" [selected]="isSelected(weekday)">
        {{weekday}}
      </mat-list-option>
    </mat-selection-list>

    <button (click)="selectWeekDays(daySelect.selectedOptions.selected)" mat-fab class="fixed bottom-0 right-0 m-6">
      <mat-icon>check</mat-icon>
    </button>
  </ng-container>
</div>
