<div class="container" *ngIf="affirmation$ | async as affirmation">
  <header class="flex flex-row">
    <mat-icon class="arrow-back ml-3 mt-3" (click)="router.navigate(['..'])">arrow_back</mat-icon>
    <h1 class="text-center pt-4 flex-1 pr-12">{{ affirmation.title }}</h1>
  </header>
  <hr>
  <main class="p-6">
    <form [formGroup]="form">
      <div class="mb-6">
        <mat-radio-group formControlName="type" aria-label="Select an option" class="text-lg">
          <mat-radio-button value="daily" class="mr-4" [checked]="true">Daily</mat-radio-button>
          <mat-radio-button value="hourly">Hourly</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field class="text-xl">
        <input formControlName="time" matInput [ngxTimepicker]="defaultTime" [format]="24" placeholder="Daily reminder time">
        <ngx-material-timepicker #defaultTime></ngx-material-timepicker>
      </mat-form-field>
    </form>

    <button (click)="createSchedule()" mat-fab class="fixed bottom-0 right-0 m-6">
      <mat-icon>check</mat-icon>
    </button>
  </main>
</div>
