<div class="container bg-mat">
  <header class="flex flex-row items-center">
    <mat-icon class="mb-4">3p</mat-icon>
    <h1 class="text-center text-primary pt-4 text-xl">Your Affirmations</h1>
  </header>
  <main class="h-full mt-2">
    <article>
      <mat-selection-list [multiple]=false>
        <mat-list-option *ngFor="let affirmation of affirmations$ | async" (click)="router.navigate(['detail', affirmation._id])">
          <p class="text-center text-xl">{{affirmation.title}}</p>
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </article>

    <button mat-fab (click)="router.navigate(['create'])" class="fixed bottom-0 right-0 m-6">
      <mat-icon>add</mat-icon>
    </button>
  </main>
</div>
