<app-header>
  <h1 class="text-center text-primary pt-4 text-xl font-bold mx-auto w-full pl-8">Your Affirmations</h1>
</app-header>
<div class="container bg-mat">
  <main class="h-full mt-2">
    <article>
      <mat-selection-list [multiple]=false cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-list-option *ngFor="let affirmation of affirmations"
                         (click)="openAffirmation(affirmation)"
                         cdkDrag
                         (cdkDragStarted)="dragStarted()"
                         class="bg-mat">
          <p class="text-center text-xl">{{affirmation.title}}</p>
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </article>

    <button mat-fab (click)="router.navigate(['create'])" class="fixed bottom-0 right-0 m-6">
      <mat-icon>add</mat-icon>
    </button>
  </main>
</div>
