<div *ngIf="affirmation$ | async as affirmation" class="w-full">
  <app-header>
    <div class="flex flex-row items-center w-full">
      <mat-icon class="arrow-back ml-3 mt-1" (click)="router.navigate(['/'])">chevron_left</mat-icon>
      <h1 class="text-center pt-4 flex-1 pr-14 text-xl font-bold pl-6">{{ affirmation.title }}</h1>
    </div>
  </app-header>
  <main>
    <article class="mb-36 p-3">
      <p class="m-2 p-2 text-xl" style="word-wrap: break-word">{{affirmation.text}}</p>
    </article>

    <div class="fixed bottom-0 right-0 bg-mat w-full footer">

      <div class="flex flex row">
        <button (click)="delete(affirmation)" mat-fab class="m-6 mr-0">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="ml-auto">
          <mat-slide-toggle (change)="changeActive($event, affirmation)" *ngIf="affirmation.scheduleModel"
                            class="text-xl mr-1" [checked]="affirmation.scheduled">Active
          </mat-slide-toggle>

          <button (click)="navigateToEdit()" mat-fab class="m-6 mr-2 ml-4">
            <mat-icon>create</mat-icon>
          </button>

          <button (click)="navigateToSchedule()" mat-fab class="relative right-0 m-6 ml-2">
            <mat-icon>schedule</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </main>
</div>
